header.menu{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: auto !important;
}
:root{
    background-color: #e4b7dd;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.orkut-font-color{
    color: #E8258E;
}

.orkut-button-bg{
    background-color: #E8258E;
    cursor: pointer;
}
.container{
    margin-top: 100px;
    width: 100%;
    display: flex;
    padding: 0 15px;
}
.container :not(:first-child){
    margin-top: 15px;
}

.photo{
    height: 550px;
    width: 300px;
    border-radius: 20px;
    margin: 20px;
    background-color: #FFFFFF;
    border: 1px solid rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo__avatar > img{
    border-radius: 15px;
}

.photo__tools > div > i {
    margin-right: 15px;
}

.photo__name > h1{
    font-size: 30px;
    margin-bottom: 5px;
}
.description{
    height: 600px;
    width: 500px;
    margin: 20px;
    background-color: #FFFFFF;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    border-top-right-radius: 70px;
}

.description div {
    display: flex;
    margin: 0 5px;
    display: inline-block ;
}

.counter__friend > img{
    width: 120px;
    margin-left:10px;
}

.counter > .counter__friend{
    background-color: #FFFFFF;
    border: 1px solid rgb(121, 121, 121);
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
  
.counter > .counter__friend > div{
    display: inline-block;
    text-align: center;
}
  
.counter > .counter__friend > div > img{
    height: 140px;
    width: 145px;
    margin-left:10px;
    border-radius: 7px;
}

.counter__community {
    border: 1px solid rgb(121, 121, 121);
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 280px;
    width: 550px;
    
}
.counter__community >h3{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 15px;

}
    
.counter > .counter__community > .communities > div{
    display: inline-block;
    margin: 3px;
    margin-left: 7px;
    text-align: center;
}
      
.counter > .counter__community > .communities > div > img{
    height: 140px;
    width: 145px;
    margin-left:10px;
    border-radius: 9px;
}

.counter__community > img{
    width: 120px;
    margin-left: 10px;
}

.counter__community >p, h3{
    margin-left: 15px;
}    

header > nav{
    color: #FFFFFF;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

header > nav > #title > h1{
    font-size: 38px;
    margin-left: 40px;
    margin-top: 20px;
}

header > nav > #princesa > label{
    font-size: 20px;
    margin-right: 40px;
}
